.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

/* hide y axis */

.axis .tick line,
.axis path {
	display: none;
}

.category-circle {
	fill: #f4a636;
}

.question-circle {
	fill: url(#gradient-questions);
}

.chart-area-circle {
	stroke: #fff;
	stroke-width: 3px;
	opacity: 0.15;
	fill: url(#gradient-bars);
}

.center-circle {
	fill: #fff;
}

.bars {
	fill: url(#gradient-bars);
}

.gridlines {
	fill: none;
	stroke: #fff;
}

.minor {
	stroke-width: 4px;
}

.major {
	stroke-width: 6px;
}

.question-label-arc {
	/*fill: white;
    stroke: #AAAAAA;
    fill: url(#gradient-questions);*/
}

.category-label-text {
	font-weight: bold;
	font-size: 14px;
	fill: #fff;
}

.question-label-text {
	font-size: 7px;
	font-weight: bold;
	fill: gray;
}

.question-labels {
	text-anchor: middle;
	font-weight: bold;
}

.category-labels {
	text-anchor: middle;
	font-weight: bold;
	font-size: 14px;
	fill: #fff;
}
